.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# React Native Stack Base

.expo
__generated__

# End of https://mrkandreev.name/snippets/gitignore-generator/#react,ReactNative